* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#header-nav {
  background-color: #999999;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding: 15px;
}
.navbar-brand h1 { 
  font-size: 1.2em;
  color: black;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.col-xs-12 {
  margin-bottom: 10px;
}
p {
  border: 1px solid black;
  background-color: #999999;
  width: 100%;
  height: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 33px 10px 10px;
  position: relative;
}
p > span {
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  top: 5px;
  width:100%;
}
@media (max-width: 767px) {
  #nav-list a {
    color: black;
    padding: 5px;
  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  #collapsable-nav {
    background-color: #bbb9ae; 
    width: 100%;
  }
}